*{
    padding: 0px;
    margin: 0px;
    border: 0px ;
}
#board{
    display:flex; 
height: 800px;
width: 800px;
flex-wrap: wrap;
    border-bottom: 2px  solid       black;
    background-color: transparent;
    margin: auto;
    margin-top: 4vw;
}
button{border: 0px;}
.row1,.row2,.row3,.row4{
    display: flex;
flex-direction: row;
flex-wrap: nowrap;
    height: 200px;
    width: 800px;
}
.row1{
   background-color: transparent;
    border-bottom: 2px solid black;
}
.row2{
    border-bottom: 2px solid black;
    background-color: transparent;
}   
.row3{
    border-bottom: 2px solid black;
    background-color: transparent;
}
.row4{
    border-bottom: 0px solid rgb(255, 255, 255);
    background-color: transparent;
}   
.cell{
    display: flex;  
    flex-direction: column;
    flex-wrap: nowrap;
    height: 200px;
    width: 200px;
    border-right: 4px solid black;
    background-color: transparent;
    justify-content: center;
    align-items: center;
}
#cell4{
    border-right: 0px solid rgb(255, 255, 255);
}
#X{
    font-size: 6rem;
}


button:active{
visibility: hidden;
}


.X,.Y{
    visibility: visible;
    font-size: 7rem;
}

#X1{
    width: 7rem;
    height: 7rem;
    position: absolute;
    top: 1vh;
    left:12vw;
    z-index: -1;
}
#X5{
    width:   7rem;
    height: 7rem;
    position: absolute;
    top: 15vh;
    left:12vw;
    z-index: -1;
}
    #X9{
    width:   7rem;
    height: 7rem;
    position: absolute;
    top: 30vh;
    left:12vw;
    z-index: -1;
}
    #X13{
    width:   7rem;
    height: 7rem;
    position: absolute;
    top: 45vh;
    left:12vw;
    z-index: -1;
}
#X2{
    width: 7rem;
    height: 7rem;
    position: absolute;
    top: 1vh;
    left:34vw;
    z-index: -1;
}
#X6{
    width:   7rem;
    height: 7rem;
    position: absolute;
    top: 15vh;
    left:34vw;
    z-index: -1;
}
    #X10{
    width:   7rem;
    height: 7rem;
    position: absolute;
    top: 30vh;
    left:34vw;
    z-index: -1;
}
    #X14{
    width:   7rem;
    height: 7rem;
    position: absolute;
    top: 45vh;
    left:34vw;
    z-index: -1;
}
#X3{
    width: 7rem;
    height: 7rem;
    position: absolute;
    top: 1vh;
    left:56vw;
    z-index: -1;
}
#X7{
    width:   7rem;
    height: 7rem;
    position: absolute;
    top: 15vh;
    left:56vw;
    z-index: -1;
}
    #X11{
    width:   7rem;
    height: 7rem;
    position: absolute;
    top: 30vh;
    left:56vw;
    z-index: -1;
}
    #X15{
    width:   7rem;
    height: 7rem;
    position: absolute;
    top: 45vh;
    left:56vw;
    z-index: -1;
}
#X4{
    width: 7rem;
    height: 7rem;
    position: absolute;
    top: 1vh;
    left:78vw;
    z-index: -1;
}
#X8{
    width:   7rem;
    height: 7rem;
    position: absolute;
    top: 15vh;
    left:78vw;
    z-index: -1;
}
    #X12{
    width:   7rem;
    height: 7rem;
    position: absolute;
    top: 30vh;
    left:78vw;
    z-index: -1;
}
    #X16{
    width:   7rem;
    height: 7rem;
    position: absolute;
    top: 45vh;
    left:78vw;
    z-index: -1;
}



#Y1{
    width: 7rem;
    height: 7rem;
    position: absolute;
    top: 8vh;
    left:11vw;
    z-index: -1;
}
#Y5{
    width:   7rem;
    height: 7rem;
    position: absolute;
    top: 23vh;
    left:11vw;
    z-index: -1;
}
    #Y9{
    width:   7rem;
    height: 7rem;
    position: absolute;
    top: 37.8vh;
    left:11vw;
    z-index: -1;
}
    #Y13{
    width:   7rem;
    height: 7rem;
    position: absolute;
    top: 52.5vh;
    left:10vw;
    z-index: -1;
}
#Y2{
    width: 7rem;
    height: 7rem;
    position: absolute;
    top: 8vh;
    left:33vw;
    z-index: -1;
}
#Y6{
    width:   7rem;
    height: 7rem;
    position: absolute;
    top: 23vh;
    left:55vw;
    z-index: -1;
}
    #Y10{
    width:   7rem;
    height: 7rem;
    position: absolute;
    top: 37.8vh;
    left:33vw;
    z-index: -1;
}
    #Y14{
    width:   7rem;
    height: 7rem;
    position: absolute;
    top: 52.5vh;
    left:33vw;
    z-index: -1;
}
#Y3{
    width: 7rem;
    height: 7rem;
    position: absolute;
    top: 8vh;
    left:55vw;
    z-index: -1;
}
#Y7{
    width:   7rem;
    height: 7rem;
    position: absolute;
    top: 23vh;
    left:33vw;
    z-index: -1;
}
    #Y11{
    width:   7rem;
    height: 7rem;
    position: absolute;
    top: 37.8vh;
    left:55vw;
    z-index: -1;
}
    #Y15{
    width:   7rem;
    height: 7rem;
    position: absolute;
    top: 52.5vh;
    left:55vw;
    z-index: -1;
}
#Y4{
    width: 7rem;
    height: 7rem;
    position: absolute;
    top: 8vh;
    left:77vw;
    z-index: -1;
}
#Y8{
    width:   7rem;
    height: 7rem;
    position: absolute;
    top: 23vh;
    left:77vw;
    z-index: -1;
}
    #Y12{
    width:   7rem;
    height: 7rem;
    position: absolute;
    top: 37.8vh;
    left:77vw;
    z-index: -1;
}
    #Y16{
    width:   7rem;
    height: 7rem;
    position: absolute;
    top: 52vh;
    left:77vw;
    z-index: -1;
}

.mark{
    width: 100%;
    height: 50%;
    background-color:aqua;
    font-size: 4REM;
}
